@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;

  @media (width >= 640px) {
    padding-inline: 2rem;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --border: rgba(33, 39, 46, 0.12);
  --secondary: rgba(0, 0, 0, 0.05);
}

.dark {
  --background: #111111;
  --foreground: #f3f4f6;
  --border: #292929;
  --secondary: #1c1c1c;
}

body {
  @apply m-0 bg-background text-foreground transition-colors duration-500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483647;
}

.dark::view-transition-old(root) {
  z-index: 2147483647;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
